/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');



/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

:root{
--white: hsl(0, 0%, 100%);
--cyan: #18d4ce;
--red: #ed2651;
--cyanDark: #4db5b1;
--redDark: #c72347;
--title: #3d3d3d;
--text: #4f4f4f;
}



/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

b, strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

.wrapper{
  padding: 0 25px;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer{
  text-align: center;
}

.footer a{
  color: var(--cyan);
  font-weight: bold;
}

.footer a:hover{
  color: var(--cyanDark);
}


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body{
      background-color: var(--white);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
      background-color: var(--white);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
      background-color: var(--white);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
      background-color: var(--white);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
      background-color: var(--white);
    }
}


/*--------------------------------------------------------------
# Scroll
--------------------------------------------------------------*/

/* Tamaño del scroll */
.body-scrollbar::-webkit-scrollbar {
  width: 8px;
}

 /* Estilos barra (thumb) de scroll */
.body-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.body-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.body-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.body-scrollbar::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.body-scrollbar::-webkit-scrollbar-track:hover, 
.body-scrollbar::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}